body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(10, 30px);
  grid-template-rows: repeat(10, 30px);
  gap: 1px;
  margin-bottom: 20px;
}

.cell {
  width: 30px;
  height: 30px;
  border: 1px solid palevioletred;
  cursor: pointer;
}

#fleet {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

#rotateBtn {
  width: 100px;
  height: 25px;
  border-radius: 5px;
  border: none;
  margin-top: 20px;
  cursor: pointer;
}

#game-container {
  display: flex;
}

#player-controls {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#player-board {
  margin-right: 10vw;
}

#startBtn {
  width: 100px;
  height: 25px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.ship {
  display: flex;
  gap: 2px;
  cursor: grab;
}

.ship-cell {
  width: 30px;
  height: 30px;
  background: #3498db;
  border: 1px solid #ccc;
}

.vertical {
  flex-direction: column;
}
